#menu
{
    background-color: gray;
    height: 30px;
    padding: 10px;
}
menu a 
{
    color: white;
    font-size: 18px;
    margin-right:40px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}