#header
{
    background-color: lightblue;
    height: 100px;
    text-align: center;
    padding: 20px;
}
#menu
{
    background-color: lightgray;
    height: 50px;
    text-align: center;
    padding: 10px;
}
#content
{
    background-color: white;
    height: 300px;
    text-align: center;
    padding: 20px;
}
#footer
{
    background-color: lightblue;
    height: 50px;
    text-align: center;
    padding: 10px;
} 